<header class="md:px-16 px-6 flex flex-wrap items-center md:py-6 py-2">
    <div class="flex-1 flex justify-between items-center">
      <a href="#" class="cursor-pointer textGradient_blue" 
      style="font-size:6.5vw;">
        BRNDN TECH BLOG
      </a>
    </div>

    <label for="menu-toggle" class="cursor-pointer md:hidden block "><svg
        class="fill-current text-gray-200 hover:text-pink-400" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
        viewBox="0 0 20 20">
        <title>menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg></label>
    <input class="hidden" type="checkbox" id="menu-toggle" checked="checked" />

    <div class="hidden flex flex-row md:items-center md:w-auto w-full" id="menu">
      <nav>
        <ul class="flex items-center justify-between text-lg  md:text-2xl pt-4 md:pt-0">
          <li><a
              class="textGradient_sky py-1 px-3 rounded-lg block border-2 border-transparent hover:border-indigo-400 hover:bg-gray-600"
              href="#">Blog</a></li>
          <li><a
              class="textGradient_sky py-1 px-3 rounded-lg block border-2 border-transparent hover:border-indigo-400 hover:bg-gray-600"
              href="#">Guide</a></li>
          <li><a
              class="textGradient_sky py-1 px-3 rounded-lg block border-2 border-transparent hover:border-indigo-400 hover:bg-gray-600"
              href="#">Mac</a></li>
        </ul>
      </nav>

    </div>

  </header>