@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* 
@font-face {
  font-display: swap;
  font-family: 'Bazzi';
  font-named-instance: 'Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Bazzi.woff') format('woff');
} */


body {
  @apply font-sans;
  @apply text-gray-300;
}

#menu-toggle:checked + #menu {
  display: block;
}

.masonry:nth-child(2n) {
  @apply col-span-2;
}

.neomorph {
  box-shadow: 
    10px 10px 30px 0 #101010,
    -10px -10px 30px 0 #151515;
}

.textGradient_sky {
  background: -webkit-linear-gradient(90deg,#6dd5fa,#fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textGradient_blue {
  background: -webkit-linear-gradient(90deg,#0575e6,#00f260);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

