<!doctype html>
<html lang="en">

{% include "partial_head.liquid" %}

<body class="bg-gray-900 antialised">

  {% include "partial_nav.liquid" %}
  <div class="w-full mx-auto">

    {{ content }}

  </div>
<script id="dsq-count-scr" src="//techblog-17.disqus.com/count.js" async></script>
</body>
</html>