<!doctype html>
<html lang="en">

{% include "partial_head.liquid" %}

<body class="bg-gray-900 antialised">

  {% include "partial_nav.liquid" %}

  <div class="mx-auto p-4 neomorph rounded-md prose md:prose-lg lg:prose-2xl flex flex-col"
  style="background: linear-gradient(to top,#d3cce3,#e9e4f0);">
    <h1 class="text-center">{{title}}</h1>
    <img src="{{heroImage}}" alt="">
    {{ content }}

  </div>
  <div id="disqus_thread" class="prose md:prose-lg lg:prose-2xl mx-auto"></div>
  <script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://techblog-17.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</body>

</html>